h1 {
    color:rgb(214, 168, 168);
    margin:center;
    font-family: cursive;
}
.css {color:rgb(255, 0, 242);
    font-size: 50px;
    margin:center;
}
.html {color:rgb(255, 0, 0);
        font-size: 50px;
        margin:center;
}
section {background-color:black;
        width: 70%;
        margin: auto;
        border-style:dashed,
        border-width: 10px;
        border-color: purple;
}